.container {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    column-gap: 64px;
} 
.todo {
    margin-top: 20px;
}
.tag {
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0px;
    } 
    
}