@import '../../styles//colors.scss';
@import '../../styles/sizes.scss';

.SideBar {
    background-color: $primary;
    height: 100%;
    padding-top: 24px;
    width: 52px;
    &__button {
        width: 100%;
        height: 32px;
        background-color: $secondPrimary;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 15.99px;
            height: 15.55px;
        }
    }
} 